<div class="content-container">
  @for (subcategory of menuService.groupedMenuProducts()[category] | keyvalue :
  keepOriginalOrder; track subcategory.key) {
  <div class="subcategory-name-wrapper">
    <h3 class="subcategory-name">
      {{ `CATEGORY.${subcategory.key.toUpperCase()}` | translate }}
    </h3>
    @if((authService.user$ |async)?.role === "admin"){
    <button
      class="admin-button add"
      [routerLink]="['/admin', 'product', 'add']"
      [queryParams]="{ category: category, subcategory: subcategory.key }"
    >
      <i class="fa-solid fa-file-circle-plus"></i></button
    >}
  </div>
  @for (product of subcategory.value; track product.id) {
  <div class="product" (click)="UiService.forcePopup(product)">
    <div class="product-label">
      <div class="product-name">
        <p>{{ languageService.getTranslatedName(product) }}</p>
      </div>
      @if (product.showInfoInMenu){
      <div class="product-info">
        ( {{ languageService.getTranslatedInfo(product) }} )
      </div>
      }
      <p>
        <span class="product-short">{{
          languageService.getTranslatedShortInfo(product)
        }}</span>
      </p>
      <p class="product-price">
        {{ product.price }},-<span class="badge-wrapper">
          <app-badge [badgeName]="product.badge"></app-badge>
        </span>
      </p>
    </div>
    <div class="price-section">
      @if((authService.user$ |async)?.role === "admin"){
      <div class="admin-buttons-wrapper">
        <button
          class="admin-button edit"
          [routerLink]="['/admin', 'product', 'edit', product.id]"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          class="admin-button"
          [class.hidden]="product.isHidden"
          (click)="setVisibility(product); $event.stopPropagation()"
        >
          @if(product.isHidden){
          <i class="fa-solid fa-eye-slash"></i>}@else{<i
            class="fa-solid fa-eye"
          ></i
          >}
        </button>
      </div>
      }
      <button
        class="add-button"
        (click)="this.cartService.addToOrder(product); $event.stopPropagation()"
      >
        <span> <i class="fa-solid fa-plus"></i> </span>
      </button>
    </div>
    @if(product.isHidden){
    <div class="hide-product"></div>
    }
  </div>
  }}
</div>
