.menu-wrapper {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  position: relative;
  font-size: 16px;
  color: var(--main-font-color);
  background-color: var(--main-color);
  width: 230px;
  padding: 10px;
  border: 1px solid var(--button-shadow);
  border-radius: 50px;
}

.btn.add-user span {
  margin-left: 10px;
  padding-right: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-right: 1px solid var(--separator-text);
  color: green;
}
.btn.edit-user span {
  margin-left: 10px;
  padding-right: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-right: 1px solid var(--separator-text);
  color: var(--accent-color);
}
.btn.edit-product span {
  margin-left: 10px;
  padding-right: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-right: 1px solid var(--separator-text);
  color: rgb(77, 0, 90);
}
.btn.my-account span {
  margin-left: 10px;
  padding-right: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-right: 1px solid var(--separator-text);
  color: var(--admin-button-color);
}
ul.visible {
  max-height: 200px;
}
ul {
  overflow: auto;
  max-height: 0;

  transition: 0.3s;
}
li {
  border-bottom: 1px solid var(--separator-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 3px 10px;
}
li button {
  margin: 2px 0;
  color: var(--accent-color);
  height: 25px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
}
.btn.logout {
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  margin-bottom: 30px;
  background-color: var(--accent-color);
}
.btn-logout-wrapper {
  text-align: center;
}
