@if(user.role === "admin"){
<div class="menu-wrapper">
  <button class="btn my-account" (click)="goToMyAccountPanel()">
    <span><i class="fa-solid fa-user-gear"></i></span> Moje Konto
  </button>
  <button class="btn order-history">Historia Zamówień</button>
  <button class="btn edit-product" (click)="goToMenu()">
    <span><i class="fa-solid fa-pen-to-square"></i></span> Edytuj Menu
  </button>
  <button class="btn add-user" (click)="goToAddUserPanel()">
    <span><i class="fa-solid fa-user-plus"></i></span> Dodaj Użytkownika
  </button>
  <button class="btn edit-user" (click)="showUsers()">
    <span><i class="fa-solid fa-user-pen"></i></span> Edytuj Użytkownika
  </button>

  <ul [class.visible]="usersVisible">
    @for (user of (allUsers$ | async); track user.id) { @if (!user.isProtected
    && user.id !== (authService.user$ | async)?.id) {
    <li>
      {{ user.name }}
      <button (click)="openEditUser(user.id)">
        <i class="fa-solid fa-user-pen"></i>
      </button>
    </li>
    } }
  </ul>
</div>
} @if(user.role === "chef"){
<div class="menu-wrapper">
  <button class="btn my-account" (click)="goToMyAccountPanel()">
    <span><i class="fa-solid fa-user-gear"></i></span> Moje Konto
  </button>
</div>
} @if(user.role === "waiter"){
<div class="menu-wrapper">
  <button class="btn my-account" (click)="goToMyAccountPanel()">
    <span><i class="fa-solid fa-user-gear"></i></span> Moje Konto
  </button>
</div>
}

<div class="btn-logout-wrapper">
  <button class="btn logout" (click)="authService.logout()">Wyloguj</button>
</div>
