@if(user.role === "admin"){
<div class="admin-menu-wrapper">
  <button class="btn order-history">Historia Zamówień</button>
  <button class="btn add-user" [routerLink]="['/user', 'add']">
    Dodaj Użytkownika <span><i class="fa-solid fa-user-plus"></i></span>
  </button>
  <button class="btn edit-user" (click)="showUsers()">
    Edytuj Użytkownika <span><i class="fa-solid fa-user-pen"></i></span>
  </button>

  <ul [class.visible]="usersVisible">
    @for (user of (allUsers$ | async); track user.id) { @if (!user.isProtected
    && user.id !== (authService.user$ | async)?.id) {
    <li>
      {{ user.name }}
      <button (click)="openEditUser(user.id)">
        <i class="fa-solid fa-user-pen"></i>
      </button>
    </li>
    } }
  </ul>

  <button class="btn logout" (click)="authService.logout()">Wyloguj</button>
</div>
} @if(user.role === "chef"){<button
  class="btn logout"
  (click)="authService.logout()"
>
  Wyloguj</button
>} @if(user.role === "waiter"){<button
  class="btn logout"
  (click)="authService.logout()"
>
  Wyloguj</button
>}
