<form class="form" [formGroup]="loginForm">
  <input
    class="input login"
    type="text"
    formControlName="username"
    placeholder="Login"
    autocomplete="username"
  />
  <app-validation-message
    [selectedFormControl]="loginForm.controls.username"
  ></app-validation-message>
  <input
    class="input password"
    type="password"
    formControlName="password"
    placeholder="Hasło"
    autocomplete="current-password"
  />
  <app-validation-message
    [selectedFormControl]="loginForm.controls.password"
  ></app-validation-message>
  <button class="login-btn" type="submit" (click)="login()">Zaloguj się</button>
</form>
