h2 {
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
}
.add-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 90vw;
}
.form-buttons {
  display: flex;
  flex-direction: column;
}
.form-buttons button {
  margin: 5px auto;
  width: 80vw;
}
.delete-btn {
  background-color: rgb(211, 47, 47) !important;
}
