.price-input {
  text-align: right;
}
.spacer {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.options-container {
  display: flex;
  flex-direction: column;
}
.single-option-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-bottom: 5px solid var(--separator-text);
}
.choice-text {
  width: 100%;
}
.price {
  width: 35%;
}
.choice-price-section-wrapper {
  display: flex;
  justify-content: space-between;
}
.choice-price-section-wrapper button {
  color: red;
  border: 1px solid red;
}
.add-choice-button {
  margin: 20px;
}
.badge-container {
  display: flex;
  flex-direction: column;
}
.badge-container span {
  font-size: 0.7em;
}
.badge-input {
  margin-top: 20px;
}

.form-buttons {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  border-top: 3px solid var(--separator-text);
}
.form-buttons button {
  margin: 5px auto;
  width: 80vw;
}
.delete-btn {
  background-color: rgb(211, 47, 47) !important;
}

.lang-selectors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
  transform: translateY(-10px);
}
.lang-selectors-title {
  text-align: center;
  margin-bottom: 10px;
}
.sector mat-form-field {
  width: 100%;
}
.sector {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 5px solid var(--separator-text);
}
