<form class="form-container" [formGroup]="form">
  <p class="lang-selectors-title">Pokaż tłumaczenia:</p>
  <div class="lang-selectors">
    <mat-checkbox formControlName="enableAllLang">Wszystkie</mat-checkbox>
    <mat-checkbox formControlName="enableEnLang">Angielski</mat-checkbox>
    <mat-checkbox formControlName="enableGerLang">Niemiecki</mat-checkbox>
    <mat-checkbox formControlName="enableJpnLang">Japoński</mat-checkbox>
    <mat-checkbox formControlName="enableUkrLang">Ukraiński</mat-checkbox>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Nazwa polska</mat-label>
    <input [formControlName]="'plName'" matInput placeholder="Placeholder" />
    <mat-hint>*To pole jest wymagane</mat-hint>
  </mat-form-field>

  <div class="sector">
    @if(form.controls.enableEnLang.value){
    <mat-form-field appearance="outline">
      <mat-label> Nazwa angielska</mat-label>
      <input [formControlName]="'enName'" matInput placeholder="Placeholder" />
    </mat-form-field>
    } @if(form.controls.enableGerLang.value){
    <mat-form-field appearance="outline">
      <mat-label> Nazwa niemiecka</mat-label>
      <input [formControlName]="'gerName'" matInput placeholder="Placeholder" />
    </mat-form-field>
    } @if(form.controls.enableJpnLang.value){
    <mat-form-field appearance="outline">
      <mat-label> Nazwa japońska</mat-label>
      <input [formControlName]="'jpnName'" matInput placeholder="Placeholder" />
    </mat-form-field>
    } @if(form.controls.enableUkrLang.value){
    <mat-form-field appearance="outline">
      <mat-label>Nazwa ukraińska</mat-label>
      <input
        [formControlName]="'ukrName'"
        matInput
        placeholder="Placeholder"
      /> </mat-form-field
    >}
  </div>

  <div class="sector">
    <mat-form-field appearance="outline">
      <mat-label>Opis po polsku</mat-label>
      <textarea
        [formControlName]="'plInfo'"
        matInput
        placeholder="Placeholder"
      ></textarea>
    </mat-form-field>

    @if(form.controls.enableEnLang.value){
    <mat-form-field appearance="outline">
      <mat-label> Opis po angielsku</mat-label>
      <textarea
        [formControlName]="'enInfo'"
        matInput
        placeholder="Placeholder"
      ></textarea></mat-form-field
    >} @if(form.controls.enableGerLang.value){
    <mat-form-field appearance="outline">
      <mat-label> Opis po niemiecku</mat-label>
      <textarea
        [formControlName]="'gerInfo'"
        matInput
        placeholder="Placeholder"
      ></textarea></mat-form-field
    >} @if(form.controls.enableJpnLang.value){
    <mat-form-field appearance="outline">
      <mat-label> Opis po japońsku</mat-label>
      <textarea
        [formControlName]="'jpnInfo'"
        matInput
        placeholder="Placeholder"
      ></textarea></mat-form-field
    >} @if(form.controls.enableUkrLang.value){
    <mat-form-field appearance="outline">
      <mat-label>Opis po ukraińsku</mat-label>
      <textarea
        [formControlName]="'ukrInfo'"
        matInput
        placeholder="Placeholder"
      ></textarea></mat-form-field
    >}
  </div>

  <div class="sector">
    <mat-form-field appearance="outline">
      <mat-label>Krótka informacja po polsku</mat-label>
      <input
        [formControlName]="'plShortInfo'"
        matInput
        placeholder="Np. alergeny lub pojemności (ml, g etc.)"
      />
    </mat-form-field>

    @if(form.controls.enableEnLang.value){
    <mat-form-field appearance="outline">
      <mat-label> Krótka informacja po angielsku</mat-label>
      <input
        [formControlName]="'enShortInfo'"
        matInput
        placeholder="Placeholder"
      /> </mat-form-field
    >} @if(form.controls.enableGerLang.value){
    <mat-form-field appearance="outline">
      <mat-label> Krótka informacja po niemiecku </mat-label>
      <input
        [formControlName]="'gerShortInfo'"
        matInput
        placeholder="Placeholder"
      /> </mat-form-field
    >} @if(form.controls.enableJpnLang.value){
    <mat-form-field appearance="outline">
      <mat-label> Krótka informacja po japońsku</mat-label>
      <input
        [formControlName]="'jpnShortInfo'"
        matInput
        placeholder="Placeholder"
      /> </mat-form-field
    >} @if(form.controls.enableUkrLang.value){
    <mat-form-field appearance="outline">
      <mat-label>Krótka informacja po ukraińsku </mat-label>
      <input
        [formControlName]="'ukrShortInfo'"
        matInput
        placeholder="Placeholder"
      /> </mat-form-field
    >}
  </div>

  <mat-form-field class="price" appearance="outline" floatLabel="always">
    <mat-label>Cena</mat-label>
    <input
      class="price-input"
      [formControlName]="'price'"
      matInput
      type="number"
      placeholder="0"
    />
    <span matTextPrefix>zł</span>
    <span matTextSuffix>.00</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Kategoria</mat-label>
    <mat-select [formControlName]="'category'">
      <mat-option value="food">Jedzenie</mat-option>
      <mat-option value="drink">Napoje</mat-option>
      <mat-option value="alcohol">Alkohole</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Podkategoria</mat-label>
    <mat-select [formControlName]="'subcategory'">
      @for(subcategory of subcategoryAdmin; track subcategory.value){
      <mat-option [value]="subcategory.value">{{
        subcategory.label
      }}</mat-option
      >}
    </mat-select>
  </mat-form-field>

  <mat-checkbox [formControlName]="'hasOptions'"
    >Dodatkowe opcje do wyboru?</mat-checkbox
  >
  @if(form.controls.hasOptions.value){
  <span></span>

  <div class="options-container" formArrayName="optionsContainer">
    @for(option of choicesArr.controls; let i = $index; track option){
    <form class="single-option-container" [formGroupName]="i">
      <mat-form-field class="spacer" appearance="outline">
        <mat-label>Opcja {{ i + 1 }} po polsku</mat-label>
        <mat-hint>*To pole jest wymagane</mat-hint>
        <input formControlName="optionTextPl" matInput type="text" />
        @if (option.get('optionTextPl')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="option.get('optionTextPl')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>

      @if(form.controls.enableEnLang.value){
      <mat-form-field appearance="outline">
        <mat-label>Opcja {{ i + 1 }} po angielsku</mat-label>
        <input formControlName="optionTextEn" matInput type="text" />
        @if (option.get('optionTextEn')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="option.get('optionTextEn')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        } </mat-form-field
      >} @if(form.controls.enableGerLang.value){
      <mat-form-field appearance="outline">
        <mat-label>Opcja {{ i + 1 }} po niemiecku</mat-label>
        <input formControlName="optionTextGer" matInput type="text" />
        @if (option.get('optionTextGer')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="option.get('optionTextGer')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        } </mat-form-field
      >} @if(form.controls.enableJpnLang.value){
      <mat-form-field appearance="outline">
        <mat-label>Opcja {{ i + 1 }} po japońsku</mat-label>
        <input formControlName="optionTextJpn" matInput type="text" />
        @if (option.get('optionTextJpn')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="option.get('optionTextJpn')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        } </mat-form-field
      >} @if(form.controls.enableUkrLang.value){
      <mat-form-field appearance="outline">
        <mat-label>Opcja {{ i + 1 }} po ukraińsku</mat-label>
        <input formControlName="optionTextUkr" matInput type="text" />
        @if (option.get('optionTextUkr')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="option.get('optionTextUkr')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        } </mat-form-field
      >}

      <div class="choice-price-section-wrapper">
        <mat-form-field class="price" appearance="outline" floatLabel="always">
          <mat-label>Cena</mat-label>
          <input
            class="price-input"
            formControlName="price"
            matInput
            type="number"
            placeholder="0"
          />
          <span matTextPrefix>zł</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
        @if(i > 1){
        <button
          mat-stroked-button
          type="button"
          (click)="deleteChoiceInput(i)"
          aria-label="Usuń opcje"
        >
          <mat-icon>delete</mat-icon>Usuń</button
        >}
      </div>
    </form>
    }
  </div>

  <button
    class="add-choice-button"
    mat-stroked-button
    type="button"
    (click)="addChoiceInput()"
    aria-label="Dodaj opcję"
  >
    <mat-icon>add</mat-icon>Dodaj kolejny wybór</button
  >}

  <div class="badge-container">
    <mat-checkbox formControlName="hasBadge"
      >Plakietka? <span>(np. "Polecane", "Pikantne")</span></mat-checkbox
    >

    @if(form.controls.hasBadge.value){
    <mat-form-field class="badge-input" appearance="outline">
      <mat-label>Wyróżnienie</mat-label>
      <mat-select formControlName="selectedBadge">
        @for(badge of badgeOptions; track badge.value){
        <mat-option [value]="badge.value">{{ badge.label }}</mat-option
        >}
      </mat-select> </mat-form-field
    >}
  </div>

  <mat-checkbox formControlName="isPopular"
    >Widoczny na Głównej stronie</mat-checkbox
  >
  <mat-checkbox formControlName="forcePopup"
    >Pokaż okno wyboru, przed dodaniem do zamówienia</mat-checkbox
  >
  <mat-checkbox formControlName="showInfoInMenu"
    >Pokazuj opis w karcie Menu</mat-checkbox
  >
</form>

<div class="form-buttons">
  <button mat-stroked-button type="button" (click)="cancelEditing()">
    Anuluj
  </button>
  @if(mode === "addMode"){
  <button
    mat-flat-button
    type="button"
    class="accept-btn"
    (click)="addProduct()"
  >
    Dodaj</button
  >} @if(mode === "editMode"){
  <button
    mat-flat-button
    type="button"
    class="accept-btn"
    (click)="updateProduct()"
  >
    Zapisz</button
  >} @if(mode === 'editMode'){
  <button
    mat-flat-button
    type="button"
    class="delete-btn"
    (click)="deleteProduct()"
  >
    Usuń Produkt</button
  >}
</div>
