.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--main-color);
  border-bottom: 1px solid var(--separator-text);
  z-index: 10;
}

.app-staff-menu-container {
  position: absolute;
  top: 12px;
  right: 10px;
}
.btn {
  color: var(--main-font-color);
  font-size: 1em;
  height: 36px;
  aspect-ratio: 1/1;
  border: 1px solid var(--button-shadow);
  border-radius: 50px;
  background-color: var(--main-color);
  margin: 10px;
  box-shadow: 0 0 2px 1px white;
}
