@let user = (user$ | async);
<!--  -->
@if(uiService.isAccountMenuOpen()){
<div class="blur-wrapper" (click)="toggleMenu()"></div>
}
<div class="account-menu">
  @if(!uiService.isAccountMenuOpen()){
  <span class="role">{{ user && isHome ? user.role : "" }}</span
  >}@else{
  <p class="user-name">
    {{ user ? `Witaj ${user?.name}` : "Zaloguj się" }}
  </p>
  }
  <div (click)="toggleMenu()"><i class="fa-solid fa-circle-user"></i></div>
</div>
<div
  class="account-menu-content"
  [class.visible]="uiService.isAccountMenuOpen()"
>
  @if(user){
  <div class="admin-panel-wrapper">
    <app-account-menu [user]="user"></app-account-menu>
  </div>
  } @else{
  <div class="login-panel-wrapper"><app-login-panel></app-login-panel></div>
  }
</div>
